.check {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    color: white;
  }
  ion-item {
    --background: #00001f; 
    --color: white; 
  }
  .welcome{
    text-align: center;
    color: white;
  }
  