.head {
    --background: none;
    background: #00001f;
  }
.xd{
  text-align: center;
  color: white;
}  
.xd2{
  text-align: center;

}  


.mapa{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 2px solid #ccc; 
}
.a{
  margin-left: 1rem;
  margin-bottom: 1rem;
}
