
<ion-header>
  <ion-toolbar>
    <ion-title>Viaje</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h2 class="xd">Seleccione la ruta</h2>
  <ion-img class="mapa"
      src="assets/img/ruta.jpg"
      alt="mapas"
    ></ion-img>
  <ion-card>
    <h4 class="xd2">Informacion del viaje</h4>  
    <h5 class="a">Conductor: </h5>  
    <h5 class="a">Punto de reunion:</h5>  
    <h5 class="a">Destino: </h5> 
    <ion-button expand="full" >
      Confirmar viaje
    </ion-button> 
  </ion-card>


</ion-content>

<app-footer></app-footer>



