<ion-footer>
  <ion-toolbar class="custom-footer-toolbar">
    <ion-buttons slot="start" class="custom-footer-buttons">
      <ion-button routerLink="/home">
        <ion-icon name=""></ion-icon>
        Inicio
      </ion-button>  
      <ion-button routerLink="/transporte">
        <ion-icon name=""></ion-icon>
        Buscar Viaje  
      </ion-button>
      <ion-button routerLink="/ajustes">
        <ion-icon name=""></ion-icon>
        Ajustes
      </ion-button>
      <ion-button routerLink="/perfil">
        <ion-icon name=""></ion-icon>
        Perfil
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
